<div class="gear-set-layout">
  <div class="gear-select-layout">
    <div class="column">

      <div *ngIf="!formComplete">
        <form (ngSubmit)="submitSetSetup()" #gearSetSetup="ngForm" class="set-title">
          <mat-form-field class="title-form">
            <mat-label>Set Mode</mat-label>
            <mat-select [(ngModel)]="model.setMode" (change)="modeSelection($event.value)" name="setModeSelector">
              <mat-option value="Precast">Precast</mat-option>
              <mat-option value="Midcast">Midcast</mat-option>
              <mat-option value="idle">Idle</mat-option>
              <mat-option value="engaged">Engaged</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Set Name</mat-label>
            <input matInput [(ngModel)]="model.setName" placeholder="Set Name" name="setNamer">
          </mat-form-field>
          <div class="save-button">
            <button mat-raised-button type="submit">Create Set</button>
          </div>
        </form>
      </div>

      <div *ngIf="formComplete">
        <div class="set-name">
          {{model.setName}}
        </div>
        <div class="gear-set-display">
          <div class="gear-square" *ngFor="let slot of slots">
            <div (click)="selectGearItem(slot)">
              <div class="placeholder-text">{{slot}}</div>
              <img *ngIf="gearImageUrls[slot]" [src]="gearImageUrls[slot]" alt=slot class="gear-image">
            </div>
          </div>
        </div>

        <div class="save-button">
          <button mat-raised-button *ngIf="!setSaved" [disabled]="displayGearSelection" (click)="submitSet()">Save Set</button>
          <button mat-raised-button *ngIf="setSaved" [disabled]="displayGearSelection" (click)="editSet()">Edit Set</button>
        </div>
      </div>
    </div>
  </div>

  <mat-card *ngIf="displayGearSelection" class="gear-selection-card">
    <mat-card-header>
      <mat-card-title>Pick an item for the {{this.slot}} slot</mat-card-title>
      <div class="close-button" (click)="closeGearSelection()">x</div>
    </mat-card-header>
    <div class="flex-container">
      <mat-card-content>
        <form>
          <mat-form-field>
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Number"
                   matInput
                   [formControl]="gearSelector"
                   [matAutocomplete]="auto"
                   (change)="getGearSuggestions()">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="itemSelected($event)">
              <mat-option *ngFor="let option of autocompleteOptions" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </mat-card-content>
    </div>
    <app-item-display [itemPreviewData]="itemPreviewData" *ngIf="itemPreviewData"></app-item-display>
  </mat-card>
</div>
