body {
  background-color: #101010;
}

.job-form {
  padding-left: 4%;
}

.job-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mat-form-field {
  padding: 20px;
}

.action-category-gear-selection-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.action-category-layout {
  padding-left: 4%;
  max-width: 56%;
}
