<form class="job-form" [formGroup]="jobNameForm" (ngSubmit)="submitNameJob()" ngDefaultControl>
  <mat-form-field>
    <mat-label>Character Name</mat-label>
    <input autocomplete="off" matInput placeholder="Character Name" formControlName="characterName" name="characterName" required>
    <mat-error *ngIf="jobNameForm.hasError('required')">Please enter your charater's name</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select a Job</mat-label>
    <mat-select formControlName="job" required>
      <mat-option *ngFor="let job of jobAbbreviation" [value]="job">
        {{job}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="jobNameForm.hasError('required')">Please choose a job</mat-error>
  </mat-form-field>
  <button *ngIf="!jobNameSet" mat-button type="submit" [disabled]="!jobNameForm.valid">Get Started!</button>
  <button *ngIf="jobNameSet" (click)="editNameJob()" mat-button>Edit Name and Job</button>
</form>
<br>

<div class="action-category-gear-selection-layout">
  <div *ngIf="jobNameSet" class="action-category-layout">
    <div *ngFor="let actionCategory of actionCategories | keyvalue">
      <app-action-category [actionCategoryName]="actionCategory.value" [spellMap]="actionCategory.key"></app-action-category>
    </div>
  </div>
</div>


<!--<div *ngIf="jobNameSet" class="action-category-gear-selection-layout">
  <div class="action-category-layout">
    <app-gearset *ngFor="let set of sets"></app-gearset>
    <button mat-button (click)="addGearSetComponent()">Add a set</button>
    <br>
  </div>
</div>-->

<div *ngIf="jobNameSet">
  <button mat-button (click)="submitSwap()">Submit Swap</button>
</div>
